.wrap{
    max-width: 1920px;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 1920px;
    height: 1012px;
    top: 0px;
    background: url('./Sections background/header-section.jpg') no-repeat center center;
    background-size: cover;
}

.navbar {
    position: absolute;
    height: 120px;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 58px;
    height: 67px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%, 50% 0%);
}
.logo span{
    padding-left: 10px;
    position: relative;
    z-index: 1;
}
.poligon{
    padding-right: 15px;;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
}
.text-logo{
    color: white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;  
    color: white;
}
.menu li {
    font-family: 'Montserrat', sans-serif;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 0 10px; /* Внутрішні відступи по горизонталі */
}
.menu li:hover{
    color:aqua;
    cursor: pointer;
}
.slogans{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-1{
    display: flex;
    position: absolute;
    height: 35px;
    top: 379px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-2{
    display: flex;
    position: absolute;
    height: 80px;
    top: 436px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-3{
    display: flex;
    position: absolute;
    height: 35px;
    top: 538px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #D4D4D4;
}
.section-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    height: 35px;
    top: 701px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #D4D4D4;
}
.btn1{
    display: flex;
    flex-direction: row;
    padding-right: 26px;
}
.btn2{
    display: flex;
    flex-direction: row;
}

  button.btn {
    display: flex;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #18CFAB;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  button.btn2 {
    display: flex;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #00CBF6;;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
.options{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    width: 1922px;
    height: 370px;
    left: calc(50% - 1922px/2);
    top: 1015px;
}
.nav1, .nav3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #18CFAB;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    width: 482px;
    height: 377px;
    left: 0px;
    top: -10px;
    background: #1C2A33;
}

.nav2, .nav4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    width: 482px;
    height: 377px;
    left: 0px;
    top: -10px;
    background: #18CFAB;
}

.nav1 img{
    position: absolute;
    width: 58px;
    height: 97px;
}
.nav2 img{
    position: absolute;
    width: 93px;
    height: 76px;
}
.nav3 img{
    position: absolute;
    width: 63px;
    height: 97px;
}

.nav4 img{
    position: absolute;
    width: 99px;
    height: 76px;
}

.nav1 span,
.nav2 span,
.nav3 span,
.nav4 span {
    margin-top: 242px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 1920px;
    max-width: auto;
    overflow: hidden;
}
.services span{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1160px;
    left: 380px;
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
}
.tabs {
    margin-top: 101px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.tabs-nav {
    display: flex;
    width: 1180px;
}

.tabs_nav-btn {
    width: 195px;
    height: 76px;
    padding: 15px 20px;
    font-size: 15px;
    border: 0;
    border-right: 1px solid #ebeeeb;
    cursor: pointer;
}

.tabs_nav-btn:last-child {
    border-right: none;
}

.tabs_nav-btn:hover {
    border: 2px solid #18CFAB;
}
.tabs_nav-btn.active {
    position: relative;
    background-color: #18CFAB ;
    border-right-color: #18CFAB;
    color: white;
}
.tabs_nav-btn.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px; /* Задає три сторони трикутника */
    border-color: transparent transparent #18CFAB transparent; /* Колір трикутника */
    background-color: #18CFAB; /* Заливка коліра трикутника */
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Обрізання трикутника */
    transform: rotate(180deg);
}
.tabs_content {
    flex: 1;
    overflow: auto;
    padding-top: 30px;
    padding-left: 0px;
    background-color: #fff;
}
.tabs_content span{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #777777;
}
.tabs-section{
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabs_item{
    display: none;
}

.tabs_item.active{
    display: block;
}
.install_now {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 1922px;
    height: 477px;
    
    background-image: url('Sections background/section-2.jpg');
    background-position: center center;
}

.install_now::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    display: flex;
    flex-direction: column;
}

.text span{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', Serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.text p{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', Serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D8D8D8;
}
.install_now button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 64px;
    cursor: pointer;
}
.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    width: 1920px;
    
    background: #E9EDEF;
   
}
.work span{
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    padding-bottom: 100px;
}

.work-nav {
    display: flex;
    width: 1180px;
}

.work_nav-btn {
    width: 195px;
    height: 76px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.work_nav-btn:hover {
    border: 2px solid #18CFAB;
}
.work_nav-btn.active {
    position: relative;
    border-color: #18CFAB;
    color: #18CFAB;
}
.work_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    padding-top: 70px;
    overflow: auto;
    width: 1155px;
    max-height: 1500px;
    background-color: #E9EDEF; 
}


.tabs_item{
    display: none;
}
button.btn3{
    display: flex;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #00CBF6;;
    border-radius: 5px;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    cursor: pointer;
    border: none;
}
.load_more{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
}
.breaking_news{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    position: relative;
    background: #FFFFFF;
}
.breaking_news span{
    padding-top: 100px;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
}
.breaking_content{
    width: 1160px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards span,
.cards p {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
}

.cards span {
    font-size: 17.9885px;
    color: #717171;
}

.cards p {
    font-size: 13.991px;
    color: #777777;
}

.cards span:hover,
.cards p:hover {
    color: aqua;
    cursor: pointer;
}
.cards img:hover {
    cursor: pointer;
    border: 1px solid aqua;  
  }
  .cards {
    position: relative;
  }
  
  .cards::before {
    content: "12 FEB";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 70px;
    background-color: grey;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s; 
    text-align: center;
    line-height: 30px;
    font-size: 25px;
  }
  .cards:hover::before {
    background-color: aqua; /* изменяем цвет квадрата при hover */
    color: #FFFFFF; /* изменяем цвет шрифта при hover */
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 1920px;
    max-width: auto;
    overflow: hidden;
  }
